<a href="https://colab.research.google.com/github/jeong-seeun/class2021Spring/blob/main/0315%ED%95%84%EA%B8%B0(variables).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1
a
b = 2
b
c = 3
c

3

제일 마지막 것만 출력됨. 위의 a,b는 print되지 않음. 따라서 여러 개를 출력하고자 할 때에는 print(a), print(b)를 같이 써줘야함.

In [2]:
a = 1
print(a)
b = 2
print(b)
c = 3
print(c)

1
2
3

In [3]:
a = 1; print(a); b = 2; print(b); c = 3; print(c)

1
2
3

;를 이용하면 줄바꿈 대신 사용할 수 있음. 하지만 줄바꿈으로 하는 것이 보기 편함.

In [4]:
a = 1.22
print(type(a))

<class 'float'>

int : 정수, float:소숫점이 있는 숫자

In [6]:
a = 1; a = float(a); print(type(a))
print(a)

<class 'float'>
1.0

원래는 print(a)하면 1이 나오지만 a=float(a)라고 assign함으로써 1.0이 출력됨

In [8]:
a = 1.2; a = int(a); print(type(a))
print(a)

<class 'int'>
1

원래 a는 1.2(float)이지만 a=int(a) 를 assign했기 때문에 반올림된 1이 출력됨.

In [10]:
a = '123'
print(type(a))
print(a[1])

<class 'str'>
2

'123'과 "123"은 똑같은 역할. 주로 ' ~~'로 씀.
a[0] : a의 0번째 (우리가 흔히 말하는 첫번째를 뜻함, 가장 처음에 있는 것)

In [11]:
a = 'korea'
print(a[1])

o

In [13]:
a = '123'
print(type(a))
a = list(a)
print(type(a))
print(a)
print(a[2])

<class 'str'>
<class 'list'>
['1', '2', '3']
3

a는 원래 '123'(string)이지만 list로 assign해서 바꿀 수도 있음.

In [15]:
a = [1,2,3,4]
a = ['ab', 'cde', 'jky']
a = [1, 'cde', 4]
a = [1, 'cde', [1,3]]

어떤 형식이든 다 list 가능함

In [18]:
a = [1,'2', [3, '4']]
print(a[2])

[3, '4']

In [19]:
a = [1, 2, 3]
type(a)
a = (1, 2, 3)
type(a)

tuple

In [20]:
a = [1, 2, 3]
a[0] = -1
a

[-1, 2, 3]

a[0] = -1

a의 0번째 것을 -1로 replace하라

In [21]:
a = (1, 2, 3)
a[0] = -1
a

TypeError: ignored

tuple은 replace가 불가능함. 보안상 좀 더 좋음.

In [23]:
a =	{'a': 'apple', 'b': 'orange', 'c': 2014}
print(type(a))
a['b']

<class 'dict'>

'orange'

dict는 0번째, 1번째라는 말을 쓰지 않음.

a["b"]  : a의 표제어 b는 무엇을 뜻하는지 print

In [24]:
a =	{'a': 'apple', 'b': 'orange', 'c': 2014}
a['c'] = 2021
a

{'a': 'apple', 'b': 'orange', 'c': 2021}

구성요소를 바꿀 수는 있음. 하지만 index를 바꿀 수는 없음.