<a href="https://colab.research.google.com/github/jeong-seeun/class2021Spring/blob/main/0315%2C0317%ED%95%84%EA%B8%B0(syntax).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

a가 i에 들어가는데, 첫번째 것부터 마지막 것까지 출력함.

for : 여러번 반복하게 해줌

Q. for가 루프를 몇번 도는가? 4번

In [ ]:
for i in range(3) :
   print(i)

0
1
2

내가 어떤 특정한 list가 없는데, 숫자의 범위를 가지고 한바퀴를 돌고싶다.

range(3)이라는 것은 0,1,2를 만들어서 그것을 i에 집어넣음.

차례로 i를 출력하면 0, 1, 2가 나오게 됨.

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

len(a) : 0,1,2,3이 만들어짐

print(a[i]) : a 안에 있는 것들을 첫번째부터 마지막거까지 출력함.

range(len(a))=range(4) = 0,1,2,3이 i에 차례로 들어간 것과 같음

따라서 a[0], a[1], a[2], a[3]이 차례로 print됨.

만약, for i in range(3) -> index를 0 1 2 이렇게 세개를 만들어줌. 즉 리스트로 [0, 1, 2] 만들어주는 것과 동일함

In [4]:
a = [1, 2, 3, 4]
for i in range(0,4):
  print(a[i])

1
2
3
4

In [3]:
a = [1, 2, 3, 4]
for i in range(1,4):
  print(a[i])

2
3
4

range(0,4) 는 0부터 4의 이전까지 만들라는 뜻. 즉 0,1,2,3이 만들어짐

range(1,4)는 1부터 3까지 만들라는 뜻. 즉 1,2,3이 만들어짐

In [5]:
a = [1, 2, 3, 4]
for i in range(1,5):
  print(a[i])

2
3
4

IndexError: ignored

range(1,5)는 error message가 나옴.

range(1,5)는 1, 2, 3, 4까지 만들어지는데, a[4]는 존재하지 않아서 print가 불가능하기 때문

In [6]:
a = [1, 2, 3, 4]
for i in range(0,4,2):
  print(a[i])

1
3

range(0,4,2)는 0부터 4의 직전값까지 두칸을 띄어서 만들어라.

즉 0, 2 가 만들어짐.

In [8]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(0,10,3):
  print(a[i])

1
4
7
10

range(0, 10) = range(0, 10, 1)

원래 기본값이 하나씩 띄어서 하는 것이기 때문

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

중간 부분 몇 개는 건너뛰었음

제어문 syntax

(1) if

(2) for

In [9]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

a = 0 ; a에 0을 assign하는 것

a == 0 ; 이것이 진짜 equal sign

In [10]:
a = 1
if a == 0:
    print(a)
else:
    print(a+1)

2

In [11]:
a = 1
if a == 0:
    print(a)

위의 경우에는 아무것도 출력되지 않음.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

제일 큰 roop인 range(1,3)을 보면, 1,2가 i에 들어감.

작은 roop인 range(3,5) = 3,4가 j에 들어감.

i=1일 때, j=3 ... 3이 출력됨

i=1일 때, j=4 ... 4가 출력됨

i=2일 때, j=3 ... 6이 출력됨

i=2일 때, j=4 ... 8이 출력됨

큰 roop가 먼저 돌고, 그 아래 작은 roop가 돈다고 생각하면 됨.

In [12]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

시험문제에 많이 출제하는 유형. for과 if가 동시에 나와있는 경우

range(1,3) -> 1,2

range(3,5) -> 3,4

roop가 2개 있으니까 if 명령문은 총 4번 실행됨.

직접 하나씩 생각해보면서 어떻게 print 되는지 생각해보기 꼭!

In [13]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

a, b 둘 다 list

b 같은 애들을 loop list, list loop라고 부르기도 함.

for i in [1,2,3,4]

> if i>=2

> i

b = [2, 3, 4]

In [15]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

b = [i]

for i in a:

> if len(i)>=4

> i

b = ['green', 'blue', 'purple']