<a href="https://colab.research.google.com/github/jeong-seeun/class2021Spring/blob/main/0315%ED%95%84%EA%B8%B0(syntax).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

a가 i에 들어가는데, 첫번째 것부터 마지막 것까지 출력함.

for : 여러번 반복하게 해줌

In [3]:
for i in range(3) :
   print(i)

0
1
2

내가 어떤 특정한 list가 없는데, 숫자의 범위를 가지고 한바퀴를 돌고싶다.

range(3)이라는 것은 0,1,2를 만들어서 그것을 i에 집어넣음.

차례로 i를 출력하면 0, 1, 2가 나오게 됨.

In [4]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

len(a) : 0,1,2,3이 만들어짐

print(a[i]) : a 안에 있는 것들을 첫번째부터 마지막거까지 출력함.

In [5]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [6]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple